* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Main {
  display: grid;
  grid-template-columns: 250px 2fr 1fr;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "nav stories profile"
    "nav posts profile";
}

@media only screen and (width < 768px) {
  .Main {
    grid-template-columns: 75px 3fr 1fr;
  }
}

@media only screen and (width < 1150px) {
  .Main {
    grid-template-areas:
      "nav posts posts"
      "nav posts posts";
  }
}

.Navbar {
  grid-area: nav;
}

.Stories {
  grid-area: stories;
}

.Posts {
  grid-area: posts;
}

.Profile {
  grid-area: profile;
}
